# Python stuff
__pycache__

# Data files
*.csv
*.dict
*.json
*.lst
*.mrc
*.out
*.tsv
*.txt
*.xml
*.zip
LIBRY-APINTRFC.*

# API keys and other secrets
alma_api_keys.py
*credentials*
*secret*
*password*
