# UCLA's local Alma API package
# This includes pymarc, requests, and xmltodict as dependencies.
git+https://github.com/UCLALibrary/alma-api-client

# For retrying API calls
retry==0.9.2

# For transferring files to/from SFTP server for Alma and others.
pysftp==0.2.9
# paramiko is needed for SSH key support, used by our SFTP servers.
paramiko==3.4.0
